.how-to-part {
    display: none;
}

.how-to-part.active-part {
    display: block;
}

.how-to {
    width: 60%;

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
        line-height: 1.6;
        margin: 15px 0;
    }

    p.center{
        text-align: center;
    }

    p.big,
    span.big {
        font-size: 2rem;
    }

    button {
        background: transparent;
        border: none;
        color: #fff;
        margin: 20px 0;

        &:hover i{
            color: #D6A2E8;
        }
    }

    i {
        color: #fff;
        font-size: 2.5rem;
    }

    .how-to-part {
        background: rgba(0,0,0,0.8);
        padding: 20px 50px;
        color: #fff;
    }

    .how-to-buttons {
        display: flex;
        justify-content: center;
    }
}

//MEDIA QUERIES

@media (max-width:1000px){
    .how-to {
        width: 80%;
    }
}

@media (max-width: 500px){
    .how-to {
        h2 {
            font-size: 2rem;
        }
        P {
            font-size: 0.9rem;
        }
        .how-to-part {
            padding: 10px 30px;
        }
    }
}