section.result {
    padding: 30px 50px;
    background: rgba(0,0,0,0.8);

    h2 {
        font-size: 2.5rem;
        text-align: center;
    }

    p {
        margin: 30px 0 40px;
        text-align: center;
        font-size: 1.2rem;
    }

    button {
        background: rgba(0,0,0,0.5);
        border: 3px solid white;
        text-transform: uppercase;
        margin: 30px auto 0;
        display: block;
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
        transition: all 0.3s;

        &:hover {
            border: 3px solid #D6A2E8;
        }
    }

    .result-img {
        width: 130px;
        margin: 0 auto;
    }
}


//MEDIA QUERIES

@media (max-width: 650px){
    section.result {
        padding: 30px 30px;    
    
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
        .result-img {
            width: 100px;
        }
    }   
}

@media (max-width: 475px){
    section.result {
        padding: 30px 20px;    
    
        h2 {
            font-size: 1.5rem;
        }
    }   
}

@media (max-width: 350px){
    section.result {
    
        h2 {
            font-size: 1.2rem;
        }
        p {
            font-size: 0.9rem;
        }
        button {
            font-size: 0.9rem;
        }
    }   
}
